* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.carousel {
  display: flex;
  flex-direction: column;
}
.carousel .items-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.carousel .items-container .carousel-item {
  display: none;
  width: 800px;
  height: 500px;
  text-align: center;
}
.carousel .items-container .carousel-item img {
  max-width: 100%;
  max-height: 100%;
}
.carousel .items-container .current-carousel-item {
  display: block;
}
.carousel .carousel-nav {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.carousel .carousel-nav .buttons .navBtn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #931d25;
  color: white;
  cursor: pointer;
}
.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  cursor: pointer;
}
.dropdown .dropdown-button {
  padding: 15px;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.dropdown .dropdown-button:hover {
  background-color: #be2530;
}
.dropdown .dropdown-content {
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #931d25;
  height: 0px;
  overflow-y: hidden;
  transition: all 0.4s ease;
}
.dropdown .dropdown-link:hover {
  color: #ffffff;
  background-color: #931d25;
}
.dropdown .dropdown-slide {
  border: 2.5px solid #931d25;
}
.dropdown .dropdown-link-slide {
  padding: 15px 0;
  height: auto;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #931d25;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #931d25;
  border-right: 1px solid white;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.tabs .tabs-link:hover {
  background-color: #be2530;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #931d25;
  background-color: #ffffff;
  color: black;
  animation-name: animateFont;
  animation-duration: 1s;
}
.tabs .tabs-link-selected:hover {
  background-color: #ffffff;
}
@keyframes animateFont {
  0% {
    font-size: 26px;
  }
  50% {
    font-size: 28px;
  }
  50% {
    font-size: 30px;
  }
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.header-container {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #931d25;
}
.header-container .header {
  height: 50px;
}
.section {
  width: 70%;
  margin: 45px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #931d25;
  box-shadow: 1px 1px 5px #931d25;
  border-radius: 10px;
  overflow: hidden;
}
